<br><br>
<br><br>
<div class="container">


  <div class="row">
        <div class="col-md-3 order-md-2 mb-3"> </div>

      <div class="col-md-6 order-md-2 mb-6">

        <table class="table table-light">
          <thead>
            <th>ISBN</th>
            <th>TÍTULO</th>
            <th>TEMÁTICA</th>

          </thead>
          <tbody>
            <tr *ngFor="let l of listalibr">
              <td>{{l.isbn}}</td>
              <td>{{l.titulo}}</td>
              <td>{{l.tematica}}</td>

            </tr>
          </tbody>
        </table>

     </div>

     <div class="col-md-3 order-md-2 mb-3"> </div>

  </div>

</div>
